#education{
    background-color: #121212;
    color: white;
    .underline_subtitle{
        display: block;
        width: 61px;
        border: 1px solid white !important;
        margin: 0 auto !important;
        position: relative;
        bottom: 4px;
    } 
}